body {
	font-family: Arial, 'Georgia', Times, Times New Roman, serif;
}

#border {
	height: 57px;
	border-top: 1px solid darkgrey;
	border-bottom: 1px solid darkgrey;
}

#entire_content {
	width: 960px;
	margin-left: 120px;
}

#main_content{
	width: 650px;
	margin-top: 20px;
    margin-right: 60px;
    margin-bottom:70px;
	float:left;
}

#sidebar{
	width: 200px;
	float:left;
	border-left: 1px solid darkgrey;
	margin-top: 10px;
}

h1 {
	background:#61B04E;
	color: white;
	margin-right: 200px;
	margin-left: 120px;
	margin-bottom: 0;
	margin-top:0;
	width: 29%;
	text-align: center;
	padding: 10px;
	float:left;
}

#About {
	width: 10%;
	float:left;
	text-align: center;
	margin-top: 20px;
}

#Portfolio {
	width: 10%;
	float:left;
	text-align: center;	
	margin-top: 20px;
}

#Contact {
	width: 10%;
	float: left;
	text-align: center;
	margin-top: 20px;
}

h2 {
	color: #61B04E;
	margin-top: 5px;
	clear:both;
	border-bottom: 1px solid darkgrey;
}

.profilepic {
	width: 175px;
	height: auto;
	float:left;
}

p {
	width:450px;
	padding: 10px;
	margin-top: 0;
	float:left;
}

p:hover {
	background-color: #61B04E;
}

h3 {
	color: #61B04E;
	margin-top: 0px;
	padding: 10px;
}

.linkedinlogo {
	margin-left:24px;
	width: 50px;
	height: auto;
}

.gitlogo {
	margin-left:7px;
	width: 50px;
	height: auto;
}

footer {
	clear:both;
	padding: 20px;
	text-align:center;
	background-color: #615F5D;
	color:white;
	font-size:12px;
	border-top: 6px solid #61B04E;
}













